article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; font-family:GardensC;margin:0px;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


body{margin:0px auto;padding:0px;}

a{color:#c20909;text-decoration:none;}
a:hover{text-decoration:underline;}

#heading{margin:0px auto;width:930px;margin-top:15px;}
#heading img{float:left;margin:5px;}
.heading_top{font-size:35px;border-bottom:solid 2px #da4726;}
.heading_bottom{font-size:21px;margin-top:-10px;}



.promo{margin:0px auto;width:930px;}
.heading-h2{color:#fff;font-size:30px;background-color:#f06c4f;padding:5px 15px;}
.promo p{font-size:21px;text-align:justify;}

.promo_img_r{float:right;margin:15px;}

.promo_img_l{float:left;margin:15px;}


footer{margin:0px auto;width:930px;margin-top:35px;font-size:16px;padding:25px;border-top:solid 2px #da4726;} 
/**Fonts Loading**/
@font-face {
    font-family: GardensC; 
    src: url(../fonts/GardensC.otf); 
   }
   
   
/**Colors**/ 
.orange_dark{color:#da4726;}
.orange_light{color:#f06c4f;}  
.grey{color:#838383;}
.blue{color:#3d7cd9;}


