<!DOCTYPE html>
<html>
<head>
<title>{% block title %} {% endblock %} - www.chelny-offers.ru</title>
<meta name="description" content="">
<meta charset="utf-8">



<!--[if lt IE 9]> 
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
<![endif]-->   

<link rel="stylesheet" href="{{baseurl}}css/style.css">
<link rel="stylesheet" href="{{baseurl}}css/theme.css"> 
<link rel="stylesheet" href="{{baseurl}}css/bootstrap.min.css">

</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{baseurl}}">www.chelny-offers.ru</a>
  </div>
  
  <div class="navbar-collapse collapse navbar-responsive-collapse"> 
    <ul class="nav navbar-nav">
      <li><a href="{{baseurl}}customer/"><span class="glyphicon glyphicon-user"></span> Личный кабинет</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>  Мои покупки</a></li>
	   <li><a href="#"><span class="glyphicon glyphicon-list"></span>  История платежей</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
      <li><a href="{{baseurl}}auth/logout"><span class="glyphicon glyphicon-log-out"></span>  Выход</a></li>
    </ul>
  </div>
</div>


{% block main_content %} {% endblock %}


<br clear="all">

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{baseurl}}">www.chelny-offers.ru</a>
  </div>
  
  
</div>

 
	<script src="{{baseurl}}js/jquery.min.js"></script>
	<script src="{{baseurl}}js/bootstrap.min.js"></script>
	<script src="{{baseurl}}js/theme.js"></script>
	   <script src="{{baseurl}}js/engine.js"></script>
</body>
</html>