﻿<!DOCTYPE html>
<html>
<head>
<title>Продажа готовых заявок для бизнеса - chelny.offers</title>
<meta name="description" content="Продаем заявки клиентов для любого бизнеса. Цена заявки от 50 рублей.">
<meta charset="utf-8">
<link rel="stylesheet" href="css/landstyle.css">
<!--[if lt IE 9]> 
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
<![endif]-->      

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

<header id="heading">
<img src="images/logo.png"><div class="heading_top blue"> <span class="orange_dark"> chelny.offers</span> - система генерации и продажи заявок.</div><br>
<div class="heading_bottom grey">
Покупайте проверенные заявки теплых клиентов в Вашей сфере бизнеса в один клик!</div>
</header>
<br><br>
<section class="promo">
<span class="heading-h2">Что это и как это работает?</span>
<p>
<img src="images/img2.gif" class="promo_img_r" width="210">
Сервис chelny.offers работает по принципу обычного интернет магазина. Только в нашем случае, товаром является заявка клиента, заинтересованного в какой либо услуге или товаре.
<br><br>
Покупателем заявок выступает любая компания оказывающая данные услуги. В нашей системе покупатель заявок назывется рекламодателем. Например страховая компания может покупать заявки на автострахование ОСАГО или КАСКО.
<br><br>
<img src="images/img1.gif" class="promo_img_l" width="230">
Мы получаем заявки Ваших потенциальных клиентов через специальные сайты - лендинги. Лендинг - целевая страница - это веб-страница рекламного характера, содержащая информацию об услуге или товаре.
Для привлечения клиентов на лендинги мы активно используем поисковую оптимизацию, системы контекстной, тизерной и баннерной рекламы.<br><br>
Заявка предатсвляет из себя данные о потенциальном клиенте, имя, номер телефона, емайл, тип необходимой услуги.
Полученные заявки мы проверяем на корректность данных, и отправляем с систему, где вы сможете купить её в несколько кликов мышью.
</p>
<br><br>
<span class="heading-h2">Ценообразование - сколько это стоит?</span><p>
Мы бесплатно анализируем целевую аудиторию, создаем лендинг под Ваш бизнес, настраиваем и запускаем рекламные компании за своий счет.
<br><br>
 Стоимость заявки рассчитывается исходя из направления деятельности,
и нужного количества заявок. Вы платите только за проверенные заявки допущенные к продаже в системе. Стоимость заявок от 100 рублей. 
<br><br>
Если купленная заявка Вас не устроила, Вы можете вернуть её нам, мы полностью вернем её стоимость. 
</p>
<span class="heading-h2">Тематика продаваемых в сервисе заявок.</span><p>
В системе chelny.offers можно купить заявки потенциальных клиентов на следующие услуги: Автострахование и страхование недвижимости, покупка земельных участков, недвижимости, спецтехники, ремонт квартир и офисов, обучение и образование, строительство.
<br><br>Если Вы предлагаете уникальный сервис, мы наладим поток заявок специально для Вас в течении одной недели.
</p>
</section>
<br><br>
<section class="promo">
<span class="heading-h2">Наши странички в социальных сетях.</span><br><br>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>

<!-- VK Widget -->
<div id="vk_groups" style="float:left;margin-right:10px;"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "460", height: "200", color1: 'FFFFFF', color2: 'da4726', color3: 'f06c4f'}, 72110404);
</script>

<div id="ok_group_widget"></div>
<script>
!function (d, id, did, st) {
  var js = d.createElement("script");
  js.src = "http://connect.ok.ru/connect.js";
  js.onload = js.onreadystatechange = function () {
  if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
    if (!this.executed) {
      this.executed = true;
      setTimeout(function () {
        OK.CONNECT.insertGroupWidget(id,did,st);
      }, 0);
    }
  }}
  d.documentElement.appendChild(js);
}(document,"ok_group_widget","52235234312405","{width:460,height:216}");
</script>

</section>
<footer>&copy;2014 Все права защищены.  www.chelny-offers.ru - система генерации и продажи заявок для бизнеса.<br><br><br>.</footer>
</body>
</html>