{% extends './base.twig' %}

{% block title %}  Добро пожаловать, {{username}} {% endblock %}



{% block main_content %}

<div class="col-lg-3"> 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-usd"></span> Баланс счета</h3>
  </div>
  <div class="panel-body">
    <h4><p class="text-success"><strong>Баланс Вашего счета: {{balance_ammount}} р.</strong></p></h4>
	<button type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle"></span> Пополнить баланс</button><br>
	<p><small class="text-muted">Минимальная сумма пополнения 1.000 рублей..</small></p><br><br>
  </div>
  	<div class="panel-footer"><button type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list"></span> История платежей</button></div>
</div>
</div>

<div class="col-lg-3">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Информация о пользователе </h3>
  </div>
  
  <div class="panel-body" id="profile_info">
    <img src="{{baseurl}}images/{{profile_avatar}}" width="50" height="50"> <b class="text-danger">{{username}}</b><br>
    <b class="text-success">Дата регистрации: {{profile_date}} </b><br>
	<b class="text-success">ICQ: {{profile_icq}} </b> <br>
	<b class="text-success">Skype: {{profile_skype}} </b> <br>
	<b class="text-success">Номер для sms оповещения о новых заявках: {{profile_sms_phone}} </b><br><br>

  </div>
  
  <div class="panel-body" id="profile_edit" style="display:none;"></div>
  
  	<div class="panel-footer"><button type="button" class="btn btn-success btn-xs" id="change_user_profile" data-state="edit"><span class="glyphicon glyphicon-edit"></span> Редактировать</button></div>
</div>

</div>



<div class="col-lg-3">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-exclamation-sign"></span> Помощь </h3>
  </div>
  <div class="panel-body">
  <div class="list-group">
  <a href="#" class="list-group-item">
    Описание работы системы
  </a>
  <a href="#" class="list-group-item">
    Сколько стоят заявки и откуда они появляются
  </a>
  <a href="#" class="list-group-item">
    Инструкция для покупателей
  </a>
   <a href="#" class="list-group-item">
   Часто задаваемые вопросы
  </a>
  <a href="#" class="list-group-item">
   Вопрос в тех.поддержку
  </a>
</div>
  </div>
</div>
</div>


<div class="col-lg-3">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> Последние новости системы</h3>
  </div>
  <div class="panel-body">
 <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Моделирование базы данных</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Протитипирование личного кабинета</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
</div>
  </div>
</div>
</div>


<div class="col-lg-12">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Новые лиды в системе</h3>
  </div>
  <div class="panel-body">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      
      <th>ID заявки</th>
      <th>Дата</th>
      <th>Тип заявки</th>
	  <th>Сайт</th>
	  <th>Статус</th>
	  <th>Цена заявки</th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
    
{% for order in orders %}
    <tr>
      <td><p class="text-danger">{{order.order_id}}</p></td>
      <td>{{order.order_date}} {{order.order_time}}</td>
      <td>{{order.order_niche}}</td>
	  <td>{{order.order_site_ref}}</td>
	  <td><span class="label label-warning">{{order.order_status}}</span></td>
	  <td>{{order.order_cost}} рублей</td>
	  <td><button type="button" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on right"><span class="glyphicon glyphicon-ok-circle"></span> Купить заявку</button></td>
    </tr>
{% endfor %}	
   
  </tbody>
</table> 

   </div>

</div>
</div>
{% endblock %}  