{% extends './zero.twig' %}





{% block main_content %} 

<form class="form-horizontal" id="user_edit">
  
     <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Имя</label>
      <div class="col-lg-10">
        <input class="form-control" name="fname" placeholder="Имя" type="text">
      </div>
    </div>
	
	 <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Фамилия</label>
      <div class="col-lg-10">
        <input class="form-control" name="lname" placeholder="Фамилия" type="text">
      </div>
    </div>
	
	 <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Е-майл</label>
      <div class="col-lg-10">
        <input class="form-control" name="email" placeholder="адрес электронной почты" type="text">
      </div>
    </div>
	
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">ICQ</label>
      <div class="col-lg-10">
        <input class="form-control" name="icq" placeholder="ICQ" type="text"> 
      </div>
    </div>
	
	 <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Skype</label>
      <div class="col-lg-10">
        <input class="form-control" name="skype" placeholder="Skype" type="text">
      </div>
    </div>
	
	 <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Номер</label>
      <div class="col-lg-10">
        <input class="form-control" name="sms_inform" placeholder="SMS оповещения" type="text">
      </div>
    </div>
    
  
</form>

 
{% endblock %}  