﻿<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<meta name="description" content="">
<meta charset="utf-8">



<!--[if lt IE 9]> 
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
<![endif]-->   

<link rel="stylesheet" href="{{baseurl}}css/style.css">
<link rel="stylesheet" href="{{baseurl}}css/theme.css">
<link rel="stylesheet" href="{{baseurl}}css/bootstrap.min.css">

</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{baseurl}}">www.chelny-offers.ru</a>
  </div>
  
  <div class="navbar-collapse collapse navbar-responsive-collapse"> 
    <ul class="nav navbar-nav">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Личный кабинет</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>  Мои покупки</a></li>
	   <li><a href="#"><span class="glyphicon glyphicon-list"></span>  История платежей</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>  Воротников Александр</a></li>
      <li><a href="{{baseurl}}auth/logout"><span class="glyphicon glyphicon-log-out"></span>  Выход</a></li>
    </ul>
	
  </div>
</div>


<div class="col-lg-5">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Профиль пользователя</h3>
  </div>
  <div class="panel-body">
    <h4><p class="text-success"><strong>Баланс Вашего счета: 900р.</strong></p></h4>
	<button type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle"></span> Пополнить баланс</button><br>
	<p><small class="text-muted">Минимальная сумма пополнения 1.000 рублей..</small></p>
  </div>
  	<div class="panel-footer"><span class="glyphicon glyphicon-list"></span> История платежей</div>
</div>
</div>


{% for user in users %}
      {{user.username}} - {{user.email}} - {{user.ip_address}} - {{user.phone}} - {{user.first_name}} -  {{user.company}} -- {{user._id}}
{% endfor %}



    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{{baseurl}}js/bootstrap.min.js"></script>
	<script src="{{baseurl}}js/theme.js"></script>
</body>
</html>